/*Page Layout*/
body {
    padding-top:50px;
}

.container {
    max-width:1000px;
    margin: auto;
}

.row {
    margin-top: 50px;
}

.formBox {
    max-width: 600px;
    background-color: lightgrey;
    padding-bottom: 30px;
}

.formBackground {
    background-color: #eee;
    padding: 30px 0;
    border-top: dotted;
}

.mainFooter {
    background-color: #bbb;
    margin-top: 10px;
}

.footerText {
    margin: 0;
}

/*Sticky footer*/
.pushTheFooter {
    min-height: calc(100vh - 81px);
}