/*@media (max-width: 600px) {*/
    #logo {
        background-image: url("../Images/Logo2000x1000.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 200px;
    }
/*}*/